table {
    width: 100%;
}
td {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
td.url {
    width: 60%;
}
td.goo-url {
    width: 40%;
}

div.tooltip-inner {
    max-width: 350px;
}
